.cv-container
{
    position: absolute;
    top: 2.9rem;
    left: 5rem; 
    z-index: 9999999;
}
@media only screen and (max-width: 625px)
{
    .cv-container
    {
        position: absolute;
        top: 1.5rem;
        left: 8.1%;
        z-index: 9999999;
    }
}

.cv
{
    width: 2.625rem;
    height: 2.625rem;   
}
@media only screen and (max-width: 625px)
{
    .cv
    {
        width: 2.3rem;
        height: 2.3rem;   
    }
}


.cv-container:hover
{
    animation: cv 2.7s infinite;
    cursor:pointer;   
}
@media only screen and (max-width: 625px)
{
    .cv-container:hover
    {
        animation: none;
        cursor: none;   
    }
}

@keyframes cv
{
    0%{transform: translate(0rem, 0);}
    10%{transform: translate(0.07rem, 0.05rem);}
    20%{transform: translate(-0.07rem, -0.05rem);}
    30%{transform: translate(0.07rem, 0.05rem);}
    40%{transform: translate(-0.07rem, -0.05rem);}
    50%{transform: translate(0.07rem, 0.05rem);}
    60%{transform: translate(-0.07rem, -0.05rem);}
    70%{transform: translate(0.07rem, 0.05rem);}
    80%{transform: translate(-0.07rem, -0.05rem);}
    90%{transform: translate(0.07rem, 0.05rem);}
    100%{transform: translate(0rem, 0);}
}