/* 
    font-family: 'Darker Grotesque',
    sans-serif;
    font-family: 'Exo 2',
    sans-serif;
    font-family: 'The Girl Next Door',
    cursive;
*/


.active
{
    border-radius: 2.125rem !important;
    background: rgba(37, 30, 62, 0.912);
    color: #ffffffca !important;
    padding: 0.34rem 1.5rem !important;
    transition: 0.2s;
}
.active.active-night
{
    background: rgba(37, 141, 143, 0.80);
}

.Full-Navbar-Container
{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 999999;
}

.NavbarContainer
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.7rem;
}

.NavbarContainer .Navbar
{
    width: 50.8125rem;
    height: auto;
}

.NavbarContainer .Navbar ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    transition: 0.3s;
}

.NavbarContainer .Navbar .ull.scrolled
{  
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 0;
    border-radius: 1.7rem;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.873);
    margin-top: -0.5rem;
}

.ull.scrolled.ull.scrolled-night
{
     background-color: #353434;
    box-shadow: inset 0 0 0.2rem rgba(143, 143, 143, 0.828);
}

.NavbarContainer .Navbar ul li
{     
    font-family: Darker Grotesque;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style: none;
}

.navbarlink
{
    text-decoration: none;
    padding: 0.34rem 1.5rem;
    border-radius: 2.125rem;
    display: flex;
    height: auto;
    color: #000000;
}
.navbarlink.navbarlink-night
{
   color: #EEEEEE;
}

.linktext
{
    
    margin: 0 0 0.065rem 0.02rem;
}

