.LifeCycle
{
    height: 88.78vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    padding-top: 5rem;
}
@media only screen and (max-width: 625px) 
{
    .LifeCycle
    {
     gap: 0;
     flex-direction: column;
    }
}

.LifeCycle-night
{
    background: #19181B;
}

.LifeCycle :nth-child(1)
{
    width: 14rem;
    height: 26.65981rem;
}

.LifeCycle :nth-child(2)
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0rem;
    margin-top: 3.3rem;
}
@media only screen and (max-width: 625px) 
{
    .LifeCycle :nth-child(2)
    {
      margin-top: 0;
    }
}


.LifeCycle :nth-child(2) :nth-child(1)
{
    width: 8.375rem;
    height: 8.375rem;
    animation: lifecycle 6s infinite alternate;
}
@media only screen and (max-width: 625px) 
{
    .LifeCycle :nth-child(2) :nth-child(1)
    {
      width: 8rem;
      height: 8rem;
    }
}

@keyframes lifecycle
{
    to{transform: rotate(0deg);}
    from{transform: rotate(360deg);}
}


.LifeCycle-text
{
    color: black;
    font-family: 'Exo 2';
    font-size: 2.825rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.13125rem;
    padding-left: 2.8rem;
}
@media only screen and (max-width: 625px) 
{
    .LifeCycle-text
    {
      width: 7rem;
      height: 7rem;
      margin-top: 0 !important;
    }
}

.LifeCycle-text-night
{
    color: rgba(255, 255, 255, 0.85);
}

@media only screen and (max-width: 625px) 
{
    .workerr
    {
     display: none;
    }
}

.lifecycle-responsive-title
{
    margin-left: 38.05%;
    margin-top: 0.1rem;
}